h1{
    color:#146344;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}

h2{
    color:#acb5aced;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

h3{
    color:black;
    font-family: 'DM Sans', Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

.form-control{
    font-family: 'DM Sans', sans-serif;
    font-weight:600;
    text-align:center;
}

.btn-container{
    text-align: center;

}

p{
    font-family: 'DM Sans', 'Helvetica', sans-serif;
    text-align: center;
}

.button1{
    font-family: 'DM Sans', 'Helvetica', 'sans-serif';
    color: white;
    background-color: #146344;
    border:none;
}

#postFormContainer {
    display: none;
}