<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bd93df1a5.js" crossorigin="anonymous"></script>
    {% block style %} {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <script>
        function togglePostForm() {
            var formContainer = document.getElementById("postFormContainer");
            console.log('Toggling form visibility');  // Debug log
    
            if (formContainer.style.display === "none" || formContainer.style.display === "") {
                formContainer.style.display = "block"; // Show the form
            } else {
                formContainer.style.display = "none"; // Hide the form
            }
        }
    </script>

</body>
</html>