{% extends "base.html" %}
{% load static %}

{% block title %} connect page {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/post_style.css' %}">
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="stylesheet" href="{% static 'core/match_style.css' %}">
<link rel="stylesheet" href="{% static 'core/nav.css' %}">
{% endblock %}


{% block content %}
<div class="topnav">
    <h1>My St Helen's</h1>
    <div class="button-container">
        <button class="button discoverbutton" onclick="window.location.href='/discover'">Discover</button> 
        <button class="button connectbutton" onclick="window.location.href='/connect'">Connect</button>
        <button class="button homebutton" onclick="window.location.href='/'">Home</button>
        <button class="profileicon" onclick="window.location.href='/settings'"><i class ="fa-solid fa-user"></i></button>
    </div>
</div>
<p></p>
<div class ="topnav2">
    <p><a href="{% url 'profile' user.username %}"> {{user.username}}'s profile </a></p>
</div>
<p></p>

<h2>Here are your potential matches!</h2>

    {% if matches %}
        <ul>
            {% for match in matches %}
                <div class="match-card">
                    {% if match.profileimg %} <!--if they have a profile image-->
                        <img src="{{ match.profileimg }}" alt="Profile Image">
                    {% endif %}
                    <h3><a href="{% url 'profile' match.username %}">@{{ match.username }}</a></h3>
                    <p>{{ match.bio }}</p>
                    <p><strong>Match score:</strong> <span class="score">{{ match.score }} <span class="tooltip">How likely you are to match on a scale of 1-10</span></span></p>
                    <span class="email">Email: </span><span class = "email-address"><a href="mailto:{{match.email}}?subject=We're a Match!&body=Hi, I saw we matched on __ and I'd love to connect!">{{match.email}}</a></span>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No matches found.</p>
    {% endif %}
</div>
{% endblock %}