{% extends "base.html" %}
{% load static %}

{% block title %} discover page {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/post_style.css' %}">
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="stylesheet" href="{% static 'core/nav.css' %}">
{% endblock %}


{% block content %}
<div class="topnav">
    <h1>My St Helen's</h1>
    <div class="button-container">
        <button class="button discoverbutton" onclick="window.location.href='/discover'">Discover</button> 
        <button class="button connectbutton" onclick="window.location.href='/connect'">Connect</button>
        <button class="button homebutton" onclick="window.location.href='/'">Home</button>
        <button class="profileicon" onclick="window.location.href='/settings'"><i class ="fa-solid fa-user"></i></button>
    </div>
</div>
<p></p>
<div class ="topnav2">
    <p><a href="{% url 'profile' user.username %}"> {{user.username}}'s profile </a></p>
</div>



<h2>Clubs</h2>

{% for club in clubs %}
    <div class="clubs">
        <p>{{ club.club_name }}</a><!--displays the poster's username at the top of the post-->  
        <img src="{{club.image.url}}" alt="Club profile image">
        <p>{{club.description}}</p>
        <p>{{club.club_category}}</p>
    </div>

{% empty %}
    <p>No clubs yet. Come back later!</p> <!--if there are no posts, put empty message-->
{% endfor %}

{% endblock %}