{% extends "base.html" %}
{% load static %}

{% block title %} home page {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/post_style.css' %}">
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="stylesheet" href="{% static 'core/nav.css' %}">
{% endblock %}


{% block content %}
<div class="topnav"> 
    <h1>My St Helen's</h1>
    <div class="button-container"> <!--button container class to attribute common features-->
        <button class="button discoverbutton" onclick="window.location.href='/discover'">Discover</button> <!--redirects to discover-->
        <button class="button connectbutton" onclick="window.location.href='/connect'">Connect</button> <!-- redirects to connect-->
        <button class="button makepostbutton" onclick="togglePostForm()">Post</button> <!--make post button-->
        <button class="profileicon" onclick="window.location.href='/settings'"><i class ="fa-solid fa-user"></i></button><!--profile icon-->
    </div>
</div>
<p></p>
<div class ="topnav2">
    <p> {{user.username}}'s account </p> <!--displays the user's account name for recognition purposes-->
</div>

<div id ="postFormContainer" class="post-form-container">
    <form action="{% url 'makepost' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image_upload" required>
        <input type="text" name="caption" placeholder="Write a caption...">
        <button type="submit">Post</button>
    </form>
    <button onclick="togglePostForm()" class="close-button">Cancel</button> <!--closes the form if they don't want to post-->
</div>


<h2>Welcome to your feed!</h2>

{% for post in posts %}
    <div class="posts">
        <p class="username">@{{ post.user.username }}</p> <!--displays the poster's username at the top of the post-->
        <img src="{{ post.image.url }}" alt="Post image"> <!--the posted image displayed next-->
        
        <form action="{% url 'likepost' %}" method="GET"> <!--calls the likepost view-->
            <input type="hidden" name="post_id" value="{{post.id}}"> 
            <button type="submit" class="likebutton"><i class="fa-solid fa-heart"></i> <!--heart icon from online library-->
            Like ({{post.no_of_likes}}) <!--displays the number of likes-->
            </button>
        </form>
        
        <p class="username2">{{ post.user.username }}</p><p class="caption">{{ post.caption }}</p> <!--shows the poster's username again and their caption-->
        <p class="date">{{ post.created_at|date:"M d, Y" }}</p> <!--shows the date in format month, date, year-->

        
    </div>

{% empty %}
    <p>No posts yet. Be the first to post!</p> <!--if there are no posts, put empty message-->
{% endfor %}


{% endblock %}

