{% extends "base.html" %}
{% load static %}

{% block title %} home page {% endblock %}

{% block content %}
    <h1>log in here</h1>

    <form action="" method="POST"> 
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}

        {% csrf_token %} <!-- this prevents it getting hacked -->
        <div class="form-control">
            <label for="uname">username</label>
            <input type="text" name="username" id="uname">
        </div>
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="btn-container"> 
            <button type="Log in">Log in</button>
        </div>

{% endblock %}