{% extends "base.html" %}
{% load static %}

{% block title %} log in {% endblock %}

{% block content %}
    <h1>FriendHer</h1>

    <h2>log in here</h2>

    <form action="" method="POST"> 
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}

        {% csrf_token %} <!-- this prevents it getting hacked -->
        <div class="form-control">
            <label for="uname">username</label>
            <input type="text" name="username" id="uname">
        </div>
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <p></p>
        <div class="btn-container"> 
            <button type="Log in">Log in</button>
        </div>
        <p style="font-family: 'DM Sans', sans-serif; text-align: center;">Don't have an account?</p>
        <div class="btn-container">
            <button type="button" onclick="window.location.href='/signup'">Create an account</button>
        </div>


{% endblock %}