{% extends "base.html" %}
{% load static %}

{% block title %} student quiz {% endblock %}

{% block content %}
    <h1>Let's get matching!</h1>

    <div class ="quiz">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{question.id}}">
        <h2>{{ question.question }}</h2> <!-- displays the question -->

        {% for option in question.options.all %}
        <div>
            <label>
                <input type="radio" name="chosen_option" value="{{option.id}}" required> <!--a radio button for each option-->
                <h3>{{option.option}}</h3> <!--shows the text of the option-->
            </label>
        </div>
        {% endfor %}

        <div class="btn-container">
            <button type="submit">Next</button>
        </div>
    </form>
    </div>


{% endblock %}