{% extends "base.html" %}
{% load static %}
{% block title %} Profile settings {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/post_style.css' %}">
<link rel="stylesheet" href="{% static 'core/nav.css' %}">
<link rel="stylesheet" href="{% static 'core/settings.css' %}">
{% endblock %}


{% block content %} 
<div class="topnav">
    <h1>My St Helen's</h1>
    <div class="button-container">
        <button class="button discoverbutton" onclick="window.location.href='/discover'">Discover</button> 
        <button class="button connectbutton" onclick="window.location.href='/connect'">Connect</button>
        <button class="button homebutton" onclick="window.location.href='/'">Home</button>
        <button class="profileicon" onclick="window.location.href='/settings'"><i class ="fa-solid fa-user"></i></button>
    </div>
</div>
<p></p>

<div class ="topnav2">
    <p><a href="{% url 'profile' user.username %}"> {{user.username}}'s profile </a></p>
    <button class="button logoutbutton" onclick="window.location.href='/logout'">Logout</button> 
</div>
<p></p>

<h2> Account settings </h2>
<hr>
<p>General</p>

<form class="settingsform" method="POST" enctype="multipart/form-data">
    {% csrf_token %} <!--helps prevent malicious attacks by ensuring that form submissions come from this website-->

   <div class="form_control">
    <p>Profile Picture</p>
    <img src="{{ user_profile.profileimg.url }}" alt="Profile Image">
    <input type="file" name="image"> <!--input from user to update profile image-->
   </div>

   <div class="form_control">
    <p>Bio</p>
    <textarea name="bio" id="bio" placeholder="Enter your bio">{{user_profile.bio}}</textarea> <!--allows user to enter bio-->
   </div>

   <div class="form_control">
    <p>Year Group</p>
    <select name="year_group" id="year_group">
        {% for value, label in user_profile.YEAR_GROUP_CHOICES %} <!--for every value and label in YEAR_GROUP_CHOICES-->
            <option value="{{ value }}" {% if user_profile.year_group == value %}selected{% endif %}>
                {{ label }} <!--display the label as an option-->
            </option>
        {% endfor %}
    </select>
   </div>

   <div class="btn-container">
    <button class="submitbutton" type="submit">Save changes</button> <!--submit the form-->
    <button class = "retakebutton" type="button" onclick="window.location.href='/quiz'">Retake Quiz</button> <!--redirects to quiz-->
</div>

</form>

{% endblock %}