{% extends "base.html" %}
{% block title %} Profile settings {% endblock %}


{% block content %} 

<h3> <a href="/">home</a> / account settings for {{user.username}} </h3>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for message in messages %} 
    <p>{{message}}</p> 
    {% endfor %}
   <div class="form_control">
    <img src="((user_profile.profileimg.url))" width="200px" height="200px">
    <input type="file" name="image" value="{{user_profile.profileimg}}">
   </div>

   <div class="form_control">
    <textarea name="bio" id="bio" placeholder="bio">{{user_profile.bio}}</textarea>
   </div>

   <div class="form_control">
    <input type="text" name="location" id="location" placeholder="location" value="{{user_profile.location}}">
   </div>

   <div class="btn-container">
    <button type="submit">Cancel</button>
    <button type="submit">Sumbit</button>
   </div>

</form>

{% endblock %}