{% extends "base.html" %}
{% load static %}
{% block title %} Profile settings {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/post_style.css' %}">
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<link rel="stylesheet" href="{% static 'core/nav.css' %}">
{% endblock %}


{% block content %} 
<div class="topnav">
    <h1>My St Helen's</h1>
    <div class="button-container">
        <button class="button discoverbutton" onclick="window.location.href='/discover'">Discover</button> 
        <button class="button connectbutton" onclick="window.location.href='/connect'">Connect</button>
        <button class="button homebutton" onclick="window.location.href='/'">Home</button>
        <button class="profileicon" onclick="window.location.href='/settings'"><i class ="fa-solid fa-user"></i></button>
    </div>
</div>
<p></p>
<div class ="topnav2">
    <p> {{user.username}}'s account </p>
    <a href="/logout">Log out</a>

</div>
<p></p>

<h3> Account settings for {{user.username}} </h3>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} <!--helps prevent malicious attacks by ensuring that form submissions come from this website-->
    
    {% for message in messages %} 
    <p>{{message}}</p> 
    {% endfor %}

   <div class="form_control">
    <img src="{{ user_profile.profileimg.url }}" width="200px" height="200px" alt="Profile Image">
    <input type="file" name="image"> <!--input from user to update profile image-->
   </div>

   <div class="form_control">
    <textarea name="bio" id="bio" placeholder="Enter your bio">{{user_profile.bio}}</textarea> <!--allows user to enter bio-->
   </div>

   <div class="form_control">
    <label for="year_group">Year Group:</label> 
    <select name="year_group" id="year_group">
        {% for value, label in user_profile.YEAR_GROUP_CHOICES %} <!--for every value and label in YEAR_GROUP_CHOICES-->
            <option value="{{ value }}" {% if user_profile.year_group == value %}selected{% endif %}>
                {{ label }} <!--display the label as an option-->
            </option>
        {% endfor %}
    </select>
   </div>

   <div class="btn-container">
    <button type="submit">Submit</button> <!--submit the form-->
    <button type="button" onclick="window.location.href='/quiz'">Retake Quiz</button> <!--redirects to quiz-->
</div>

</form>

{% endblock %}