{% extends "base.html" %}
{% load static %}

{% block title %} Sign Up {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/signup.css' %}">
{% endblock %}


{% block content %}
<div class="display">
<h4>FriendHer</h4>
<img src="/media/sign_up_image.png" alt="Signup Image">
</div>

<div class="sign-up">
<h1>Sign Up</h1>
<h2>Create an account to get started</h2>
<form action="" method="POST"> 
    {% for message in messages %}
    <p style="color:red; text-align:center;font-weight: bold; font-family: 'DM Sans', Helvetica, sans-serif;"><i class ="fa-solid fa-circle-xmark"></i> {{message}}</p>
    {% endfor %}

       
    {% csrf_token %} <!-- prevents it getting hacked -->
    <div class ="form-control">
        <label for="uname">Username</label>
        <input type="text" name="username" id="uname">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        
        <label for="password2">Confirm password</label>
        <input type="password" name="password2" id="password2">
        
        <button type="submit">REGISTER</button>
    </div>
</form>

<img src="/media/st_helen_logo.png" alt="Logo">

</div>
{% endblock %}