{% extends "base.html" %}
{% load static %}

{% block title %} home page {% endblock %}

{% block content %}
    <form action="" method="POST"> 
        {% for message in messages %}
        <p>{{messages}}</p>
        {% endfor %}

        {% csrf_token %} <!-- prevents it getting hacked -->
        <div class="form-control">
            <label for="uname">username</label>
            <input type="text" name="username" id="uname">
        </div>
        <div class="form-control">
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-control">
            <label for="password2">confirm password</label>
            <input type="password" name="password2" id="password2">
        </div>
        <div class="btn_container"> 
            <button type="submit">register</button>
        </div>
    </form>
{% endblock %}